h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Garamond", Times, serif;
  }

  .navbar ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #0492c2
  }
  
  .navbar a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    display: flex;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

 
/* Landing Page */
  .nature{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40%
  
  }

  .name{
    background-color: rgba(70, 131, 183, 0.7);
    height: 15%;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    position: absolute;
    
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    font-size: 50px;
    font-family: "Garamond", Times, serif;
    color: white;
    
  }

 

  .portrait{
    width: 35%;
    left: 50%;
    display: block;
    transform: translate(100%, 0%);
  }


  .intro{
    background-color: rgba(70, 131, 183);
    height: 140%;
    border: 1px solid black;
    padding: 50px;
    margin: 0px;
    position: absolute;
    
    top: 53%;
    width: 26%;
    text-align: left;
    font-size: 22px;
    font-family: "Garamond", Times, serif;
    color: white;
    
  }

  .outside{
    background-color: rgba(70, 131, 183);
    height: 140%;
    border: 1px solid black;
    padding: 50px;
    margin-left: 70%;
    position: absolute;
    
    top: 53%;
    width: 21%;
    text-align: left;
    font-size: 22px;
    font-family: "Garamond", Times, serif;
    color: white;
    
  }

  .rect {
    background-color: #82eefd;
    height: 10%;
    border: 1px solid black;
    margin-top: 1%;
  }

  .elevation {
    width: 35%;
    left: 50%;
    display: block;
    transform: translate(100%, 5%);
    height: 55%;
  }

/* Technical Portfolio */
.firstRow {
  display: flex;
  justify-content: space-between;
}

.compProj {
  background-color: rgba(70, 131, 183);
  width: 33%;
  color: white;
  border: 1px solid black;
    padding: 50px;
    text-align: center;
    font-size: 25px;
}

.disc {
  display: block;
  height: 50%;
  width: 33%;
}

.progProj {
  background-color: rgba(70, 131, 183);
  width: 33%;
  color: white;
  border: 1px solid black;
    padding: 50px;
  text-align: center;
  font-size: 25px;
}

.secondRow {
  display: flex;
  justify-content: space-between;
}

.dogs {
  display: block;
  height: 50%;
  width: 33%;
}

.futProj {
  background-color: rgba(70, 131, 183);
  width: 33%;
  color: white;
  border: 1px solid black;
    padding: 50px;
  text-align: center;
  font-size: 25px;
}

.dixie {
  display: block;
  height: 50%;
  width: 33%;
}

  </style>
</head>
<body>

